MC_IMAGE=itzg/minecraft-server:stable-java25
TYPE=NEOFORGE
VERSION=26.2
NEOFORGE_VERSION=26.2.0.62
NEOFORGE_INSTALLER=/installer/neoforge-26.2.0.62-installer.jar
MEMORY=14G
SERVER_PORT=25566
TZ=Asia/Shanghai
PROXY=
PUID=1000
PGID=1000
MOTD=Synology NeoForge 26.2 Server
MAX_PLAYERS=10
DIFFICULTY=normal
VIEW_DISTANCE=10
SIMULATION_DISTANCE=8
ENABLE_WHITELIST=FALSE
WHITELIST=
OPS=
ONLINE_MODE=TRUE
EULA=TRUE
